.messages-output {
    border: 1px solid lightgray;
    height: 80vh;
    overflow-y: scroll;
    margin-bottom: 20px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3TkJ52wKyF4wZcAZPdS2UYRZpf-ltAxpEPw&usqp=CAU);
    background-repeat: no-repeat;
    background-position: center;
    

}